RewriteEngine On
RewriteCond %{HTTP_HOST} ^localhost$ [OR]
RewriteCond %{HTTP_HOST} ^localhost$
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ localhost/$1 [R,L]

options -indexes

AuthUserFile public/config
AuthGroupFile /dev/null
AuthName "Accès restreints - Veuillez vous authentifier"
AuthType Basic
require valid-user

AuthUserFile public/config
AuthName "Accès protégé"
AuthType Basic
Require valid-user